<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401752681008-mugpcas2o263ujcrv54icjsp5en5clr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401752681008-mugpcas2o263ujcrv54icjsp5en5clr8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2oFEkk4hJWspTXB-8AaxxmPR5fK5w58U</string>
	<key>GCM_SENDER_ID</key>
	<string>401752681008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.web.mindfulstillflow</string>
	<key>PROJECT_ID</key>
	<string>mindfulstillflow</string>
	<key>STORAGE_BUCKET</key>
	<string>mindfulstillflow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401752681008:ios:d409bd30fc3e5518f4dbf5</string>
</dict>
</plist>